.App {
  text-align: center;
  background-color: black;
  background-size: cover;
}

.pictures {
  background-color: #000000;
  min-height: 10vh;
  flex-direction: row;
  align-items: top;
  font-size: calc(4px + 2vmin);
  color: rgb(12, 11, 11);
  padding-left: 150px;
  padding-right: 150px;
  background-size: cover;
}

.solidblocks{
  text-align: center;
  height: 117px;
  width: 117px;
  background-color: #006400;
}

.pathblocks{
  text-align: center;
  height: 117px;
  width: 117px;
  background-color: #00ff00;
}

.directionspace{
  position: absolute;
  height: 250px;
  width: 250px;
}

.directionbuttons{
  text-align: center;
  position: static;
  height: 50px;
  width: 70px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(7, 7, 7);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
